# DigitalOcean dev environment variables
APP_VERSION=dev
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/targetthisrole?sslmode=require
CORS_ORIGIN=https://app.dev.targetthisrole.ai
CADDY_EMAIL=you@example.com
APP_DOMAIN=app.dev.targetthisrole.ai

TYPEORM_SYNCHRONIZE=true
ENABLE_LLM_PARITY_SCORE=true
JWT_SECRET=CHANGEME
APP_PUBLIC_WEB_URL=https://targetthisrole.com
SUPPORT_EMAIL=support@targetthisrole.com
REGISTRATION_NOTIFY_EMAIL=
REQUIRE_EMAIL_CONFIRMATION=true

REQUIRE_ACCESS_CODE=true
FOUNDER_EMAILS=
